.input:focus {
}

.input {
}

.inputWrapper {
  display: flex;
  flex-direction: column;
}

.superInput {
}

.errorInput {
  border-color: salmon;
}

.errorInput:focus {
}

.error {
  order: -1;
  color: salmon;
}
