.greetingForm {}

.inputAndButtonContainer {
  display: flex;
  column-gap: 12px;
}

.error {
  margin-top: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #c00;
}

.input, .errorInput {
  width: 372px;
  height: 36px;
  padding: 12px 8px;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
}

.input:focus {
}

.errorInput {
  border: 1px solid #cc0000;
}

.button {
  border-radius: 3px;
  padding: 5px 24px;
  width: 78px;
  height: 36px;
  background: #06c;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 143%;
  color: #fff;
}

.button:focus {}

.button:active {}

.button:disabled {
  opacity: 0.5;
}

.text {
  margin-bottom: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
}

.greeting {
  margin-top: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #000;
}