.button {
}

.disabled {
  background-color: #333;
  color: #fff;
}

.secondary {
  background-color: green;
}

.default {
  background-color: blue;
}

.red {
  background-color: red;
  padding: 10px;
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
